[Desktop Entry]
Version=M.m
Type=Application
Categories=AudioVideo;Audio;
Terminal=false
Name=myapp
Name[en_US]=myapp
Comment="Streaming Audio with RtAudio API"
Icon=myapp
Exec=AppRun %F
StartupNotify=true
