[Desktop Entry]
Version=M.m
Type=Application
Categories=AudioVideo;Audio;
Terminal=false
Name=rtaudiostreamer
Name[en_US]=rtaudiostreamer
Comment="Streaming Audio with RtAudio API"
Icon=rtaudiostreamer
Exec=AppRun %F
StartupNotify=true
