Source: rtaudiostreamer-M.m
Section: sound
Priority: optional
Maintainer: xam <dev@xamblak.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/mxklb/rtaudiostreamer
Vcs-Git: https://github.com/mxklb/rtaudiostreamer.git
Vcs-Browser: https://github.com/mxklb/rtaudiostreamer

Package: rtaudiostreamer-M.m
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
#Build-Depends:
Description: Simple app to process real time audio
 This is a terminal app which uses RtAudio to process real time audio streams
 from connected audio hardware.
