[Desktop Entry]
Version=M.m
Type=Application
Categories=AudioVideo;Audio;
Terminal=false
Name="RtAudioStreamer"
Comment="Streaming Audio with RtAudio API"
Icon=/usr/share/pixmaps/rtaudiostreamer.svg
Exec=/usr/bin/rtaudiostreamer
StartupNotify=true
Encoding=UTF-8

Name[en_US]=RtAudioStreamer
